*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
h1{
    font-size:  3rem;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    padding: 2%;
}

table, td, th {  
  border: 1px solid #000;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}

th, td {
  padding: 15px;
}

thead{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}